@{
    ViewData["Title"] = "User Page";
    Layout = "~/Views/Shared/User.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Order is accepted!</h1>
    <a>Wait for the call of administrator...</a>
    <div class="proto_border3"><img class="img2" src="~/uploads/ready.png" alt="ready" /></div>
</div>