@{
    ViewData["Title"] = "User Page";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome User</h1>
  
    <a asp-controller="Home" asp-action="Index">Log Out</a>

</div>